/* Adriano Alves
   Feb 23 2019
   Homework 01 
   Berkeley Bootcamp
   css file to make my portofolio website cute 

   ---------------------------------------------------------------------------------
   Organized:
   First the Element Selectors, Second the Class Selectors and by Alphabetic orther
   ---------------------------------------------------------------------------------
   
   Requirements:
   ********* colors *******
   Teal color (used for headings and backgrounds): #4aaaa5

    Regular font color (used for paragraphs and all text besides the headings): #777777

    Main header background color: #ffffff

    Main header border color: #cccccc

    Footer background color: #666666

    Main content background color: #ffffff

    Main content border color: #dddddd

    ********** Dmensions ********
    The entire content and the main section content area is 960px wide

    ************************ Fonts *********************
    For heading fonts use font-family: 'Georgia', Times, Times New Roman, serif;.
    For all other fonts use 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 */

/***********************************************************/
/* * * * * * * * * Element Selectors * * * * * * * * * * * */
/***********************************************************/

 /************** anchor ************/
a{
    /* add space between anchors */
    padding: 10px;
}

/********* anchor hover *********/
/* hover efect for anchor it will add a boder around anchor */
a:hover{
    border: solid 1px #4aaaa5;
}

/********* Body *********/
body{
    /* font required */
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    /* color required */
    color: #777777;
    /* boder-color required */
    border-color: #dddddd;
    /* eliminate marging arround top */
    margin: 0;
    /* background required */
    background-image: url("../imgages/vintage-concrete.png");
}

/******* button *******/
/* used at contact.html */
button {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 0;
    cursor: pointer;
}

/******* button hover **********/
/* hover efect for button */
button:hover{
    background-color: lightgreen;
}

/******** footer *********/
/* a stiker footer */
footer{
    background-color: #666666;
    width: 100%;
    height: 35px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    border: 12px;
    border-top-color: #4aaaa5;
}

/*************** Form **************/
/* used on contact.html */
form{
    background-color: white;
    width: 100%;
}

/********* H1 **********/
h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-top: 0;
    color: #fff;
}
/********* H2 **********/
h2{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}

/********** header *********/
header{
    background-color: white;
    border-color: #cccccc;
    height: 70px;
}

/*************** html **************/
/* used to make the footer stick */
html {
    position: relative;
    min-height: 100%;
}

/******* input *******/
/* used at contact.html */
input{
    width: 100%;
    line-height: 2;
}

/******** paragrath ********/
/* used at index.html */
p{
    line-height: 1.25;
}

/******** textarea *******/
/* used at contact.html */
textarea{
    width: 100%;
}

/***********************************************************/
/* * * * * * * * * * * Class Selectors * * * * * * * * * * */
/***********************************************************/

/******** Absolute Position ********/
/* used to set position to absolute */
.absolute{
    position: absolute;
}

/********* anchors *********/
/* used to make the anchors center verticaly */
.anchorsWrapper{
    margin: 0;
    text-align: center;
}

/********* anchorsBox ********/
/* used to place the anchors to the right */
.anchorsBox{
    height: 70px;
    width: 270px;
    right: 0;
}

/************* boxImage ***********/
/* used to stack the label on top of the image at portofolio.html */
.boxImage{
    width: 300px;
    height: 300px;
    background: #fff;
    padding: 0;
    position: relative;
    margin: 0 5em 0 0;
}

/*********** boxLAbel **************/
/* used at portofolio.htm to stack the label on a picture */
.boxLabel{
    background-color: #4aaaa5;
    color: #fff;
    width: 300px;
    text-align: center;
    bottom: 10%;
    padding: 0.5em 0;
}

/******** centerContainer *******/
/* container that hold the prncipal contents on the page */
/* required width:960px; */
/* TODO: Change name for something with better meaning */
.centerContainer{
    background-color: white; 
    /* 910 + 25 padding + 25 padding = 960 */
    width: 910px; 
    /* height: 400px; */
    margin: auto;
    margin-top: 25px;
    padding: 25px;
}

/************** centerVertical ***************/
/* used to center content vertially */
.centerVertical{
    top: 50%;
    left: 50%;
    /* translate x = 50% and y = -50% */
    transform: translate(-50%, -50%);
}

/*************** center-container-label ************/
/* used as container for the label at each page */
.center-container-label{
    top: 50%;
    left: 0;
    /* translate x = 0 and y = -50% */
    transform: translate(0, -50%);
}

/* *************** column **************** */
/* used for row and table format at 
portofolio.html file */
.column {
    float: left;
    width: 30%;
    padding: 25px;
}

/********* footerContainer ********/
/* used on footer */
.footerContainer{
    color: white;
}

/******* about-img ******/
/* used at index.html holding my image */
.about-img{
    width: 20%;
    height: 20%;
    float: left; 
    margin: 0 10px 0 0;
}

/******** contactLabelContainer *******/
/* used to center the main content label vetically */
.labelContainer{
    height: 50px;
    width: 270px;
    left: 0;
}

/******** labelWrapper ********/
/* i dont remember what i used for, i will find out later lol */
.labelWrapper{
    margin: 0;
}

/******** nameLogoBox ********/
/* used to make the logo right justify and add background color */
.nameLogoBox{
    background-color: #4aaaa5;
    height: 70px;
    width: 270px;
    left: 0;
}

/********** nameLogo ********/
/* used to make the logo's text center vertically */
.nameLogo {
    text-align: center;
}

/******* portofolio-img ******/
/* used at portofolio.html */
.portofolio-img{
    width: 300px;
    height: 300px;
    float: left; 
    margin: 0 10px 0 0;
}

/******* portofolio-img hover ******/
/* hover efect around image used at portofolio */
.portofolio-img:hover{
    border: solid 1px #4aaaa5;
}

/******* Relative Position ********/
/* used to set position to absolute */
.relative{
    position: relative;
}

/************ Row ************/
/* used to clear the float after use the column class and make the row again */
/* this selector inserts something after the content of each selected element(s). */
.row::after{
    content: "";
    clear: both;
    display: table;
}

/******* topElements *******/
/* used on header to give the elements the same size of main content */
.topElements{
    margin: auto;
    width: 960px;
}


/* NOTES */

/************** centerVertical ***************/
/* NOT good practice but i will leave this code saved here */
/* in case i need one day */
/* used to center content vertially */
/* it will have a option to pass an argument for top and left */
/* if no argument passed the default will be: */
/* top:50%; left:50%; x: -50% and y: -50% */
/* .centerVertical{ */
    /* default value for --top */
    /* --top: 50%; */
    /* default value for --left */
    /* --left: 50%; */
    /* default value for --x */
    /* --x: -50%; */
    /* default value for --y */
    /* --y: -50%; */
    /* top: var(--top); */
    /* left: var(--left); */
    /* transform: translate(var(--x), var(--y)); */
/* } */
